:root {
	--background: #000000;
	--foreground: #f8f8f2;
	--comment: #1a1a1a;
	--message-background: #1a1a1a;
	--cyan: #8be9fd;
	--accent: #F3CE49;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #F3CE49;
	--red: #ff5555;
	--yellow: #f1fa8c;
	--font-normal: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	--font-code: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	--round-border-radius: 8px;
	--font-size: 13px;
}

* {
	box-sizing: border-box;

	&::selection {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

strong {
	color: var(--cyan);
}

em {
	color: var(--comment);
}

html,
body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}
