.sidebar {
  border-right: 1px solid var(--comment);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  padding: .6rem;
  border-bottom: 1px solid var(--comment);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header h2 {
  margin: 0;
  font-size: 1.25rem;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: 1px solid var(--comment);
}

.tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: 1px solid var(--comment);
  color: var(--foreground);
  padding: 1rem;
  font-size: .9rem;
  border-radius: var(--round-border-radius);
  cursor: pointer;
  width: 100%;
}

.tab.active {
  background-color: var(--comment);
  border-color: var(--comment);
}

.tabText {
  margin-left: .2rem;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.newChat {
  margin: 1rem;
  padding: 0.75rem;
  background-color: var(--accent);
  color: var(--background);
  border-radius: var(--round-border-radius);
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}